<div fxLayout="column" fxLayout.gt-sm="row">
  <!-- left column -->
  <div fxFlex fxFlex.gt-sm="40" class="cover-div">
    <div fxLayout="column" fxLayoutAlign="space-evenly stretch">
      <!-- cover image -->
      <div fxFlex="40">
        <div fxLayout="colum" fxLayout.gt-md="row" fxLayoutAlign="space-around stretch">
          <div fxFlex>
            <div fxLayout="column">
              <h1 class="mat-display-3 main-plug">Coming to Weslaco</h1>
            </div>
            <div fxLayout="row" fxLayoutAlign="center center">
              <div fxFlex="90">
                  <div hide show.gt-sm flex>
                <div fxHide fxShow.gt-sm fxLayoutAlign="center center" style="margin-bottom:48px">
                  <img src="/assets/images/cover.jpg" width="100%" class="cover" />
                </div>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- right column -->
  <div fxFlex fxFlex.gt-sm="60" style="margin-top:48px">
    <div fxLayout="column" fxLayoutAlign="space-evenly stretch">
      <div fxFlex>
        <div fxLayout="colum" fxLayout.gt-md="row" fxLayoutAlign="space-around stretch">
          <div fxFlex="90">
            <div fxLayout="column">
              <div fxLayout="column" fxLayout.gt-sm="row">
                <div fxFlex>
                  <div fxLayoutAlign="center center" style="margin-bottom:48px">
                    <img src="/assets/images/title.png" width="70%" />
                  </div>
                </div>

              </div>
              <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutAlign="space-evenly start" style="margin-top:24px">
                  <div fxFlex="50">
                    <div fxLayoutAlign="start center" style="margin-bottom:24px">
                      <img src="/assets/images/map.jpg" width="60%" />
                    </div>
                    <h1 class="mat-display-1 date">1200 S. Bridge Ave</h1>
                    <h1 class="mat-display-1 date">Weslaco, TX 78596</h1>

                    


                  </div>
                  <div fxLayout="column" fxLayoutAlign="start center">
                    <div fxFlex="50">
                      <div fxLayoutAlign.gt-sm="start center" fxLayoutAlign="center center" style="margin-bottom:12px">
                        <img src="/assets/images/pastor.png" width="80%" />
                      </div>
                      <h4 class="mat-subheading-1 date2">Speaker:</h4>
                      <h4 class="mat-subheading-1 date2">Raja Masilamony</h4>
                    </div>
                  </div>
   
                </div>
                <div fxLayout="column" style="margin-top:36px">
                  <div fxFlex="80">
                    <div fxLayout="column">
                     <div><h1 class="mat-display-2 date">Begins:</h1></div>
                      <div><h1 class="mat-display-3 date">FRIDAY, OCTOBER 12 • 7:00 P.M.</h1></div>
                      <div><h1 class="mat-display-1 date">Continuing nightly except Sundays & Wednesdays</h1></div>
                    </div>
                  </div>

              <div fxLayout="column">
                <div fxLayoutAlign="center center" class="button-align">
                  <button mat-button class="btn-img" routerLink='register'>
                    <img src="/assets/images/button.png" width="100%"/>
                  </button>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>




